<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Website" description="Root items" extends="Helix.Base">
                    <predicate>
                        <include name="$(layer).$(module).Templates.Project" database="master" path="/sitecore/templates/Project/Hackathon"/>
                        <include name="$(layer).$(module).Forms" database="master" path="/sitecore/Forms" />
                        <include name="$(layer).$(module).Lists" database="master" path="/sitecore/system/Marketing Control Panel/Contact Lists">
                            <exclude path="/sitecore/system/Marketing Control Panel/Contact Lists/Common Global Opt-out-38eeb84d-02b9-4174-8ad4-c6256b28c6f9" />
                            <exclude path="/sitecore/system/Marketing Control Panel/Contact Lists/Common Global Opt-out-ccd80cb3-470d-4f6a-8f8f-5b3b27bbd464" />
                        </include>
                        <include name="$(layer).$(module).MarketingAutomations" database="master" path="/sitecore/system/Marketing Control Panel/Automation Plans" />
                        <include name="$(layer).$(module).Content" database="master" path="/sitecore/content/Hackathon"/>
                        <include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/Project"/>
                        <include name="$(layer).$(module).Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>