<sc-page [showNav]="isNavigationShown">
  <div scPageHeader>
    <sc-global-header appName="Hackathon Voter" [(show)]="isNavigationShown">
      <a href="#" scGlobalLogo></a>
      <!-- AccountInformation gets accountName and accountImageUrl automatically from Sitecore context which is configured in AppModule -->
      <sc-account-information (logout)="logoutService.logout()"></sc-account-information>
    </sc-global-header>
  </div>
  <div scPageAppHeader>
    <sc-application-header text="Hackathon Voter"></sc-application-header>
  </div>

  <article scPageContent class="p-3">
    <div class="card mb-3">
      <div class="card-block">
        <h1 class="card-title">Welcome to the Sitecore Hackathon voter application</h1>
        <p>Chose from the following actions:</p>
        <ul>
          <li>
            <a routerLink="/topicteamselector" class="button">Topic-Team selector</a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</sc-page>