<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Root items" extends="Helix.Base">
          <predicate>
            <!-- Templates -->
            <include name="$(layer).$(module).Templates.Feature" database="master" path="/sitecore/templates/Feature/Hackathon">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Templates.Foundation" database="master" path="/sitecore/templates/Foundation/Hackathon">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Templates.Project" database="master" path="/sitecore/templates/Project/Hackathon">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>