<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or DedicatedDispatch">
    <hooks>
        <hook type="Hackathon.BB9.Foundation.Forms.Events.CreateTeamHook, Hackathon.BB9.Foundation.Forms"></hook>
    </hooks>
    <events>
        <event name="createteam:remote">
            <handler type="Hackathon.BB9.Foundation.Forms.Events.CreateTeamEventHandler, Hackathon.BB9.Foundation.Forms" method="OnUpdateCommentRemote"></handler>
        </event>
    </events>
  </sitecore>
</configuration>