<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or DedicatedDispatch">
        <hooks>
            <hook type="Hackathon.BB9.Foundation.Forms.Events.CreateTeamHook, Hackathon.BB9.Foundation.Forms"></hook>
        </hooks>
        <events>
            <event name="createteam:remote">
                <handler type="Hackathon.BB9.Foundation.Forms.Events.CreateTeamEventHandler, Hackathon.BB9.Foundation.Forms" method="OnUpdateCommentRemote"></handler>
            </event>
        </events>
        <settings>
            <setting name="TokenSecretKey" value="y5W1v3yn4bvOssFncRYE1fKijgvQnTBl" />
        </settings>
        <services>
            <register serviceType="Sitecore.EmailCampaign.Cd.Services.IClientApiService, Sitecore.EmailCampaign.Cd" implementationType="Sitecore.EmailCampaign.Cd.Services.ClientApiService, Sitecore.EmailCampaign.Cd" />
        </services>
    </sitecore>
</configuration>